body {
  background-color: #dee3e7;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: small;
}

a, a:visited {
  color: black;
  margin-bottom: 1em;
  display: block;
}

a {
	text-decoration: none;
	display: flex;
	align-items: center;
}

a:hover {
	background-color: #efefef;
}

img { 
	width: 2em;
	padding: 1em;
}

body.links-homepage {
  display: grid;
  row-gap: 1em;
  column-gap: 4em;
  padding: 5em;
  grid-template-rows: repeat(auto-fill, minmax(3m, 1fr));
  grid-template-columns: repeat(auto-fit, 20em);
  place-content: center;
}

body.links-homepage a {
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 0 0 1em #ccc;
}

body.links-homepage a:hover {
  background-color: #efefef;
}

body.links-homepage a:focus {
  background-color: #efefef;
  font-weight: bold;
}

div.linklist {
  width: 100%;
}

h1 {
  font-size: 1.4em;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
