section.small {
	margin: auto;
	max-width: 720px;
}

section.small {
	margin-bottom: 2em;
}

table th:first-child {
	width: 25%;
}

footer {
	padding: .5em;
}

th {
	text-align: left;
}

th.small {
	width: 10%;
}

tr:hover {
	background-color: beige;
}

a.active {
	text-decoration: underline;
}
