@import 'femtocrank/style.css';
@import 'femtocrank/dark.css' screen and (prefers-color-scheme: dark);

section.small {
	margin: auto;
	max-width: 720px;
}

section.small {
	margin-bottom: 2em;
}

footer span {
	margin-right: 1em;
}

table th:first-child {
	width: 25%;
}

th {
	text-align: left;
}

th.small {
	width: 10%;
}

tr:hover td {
	color: black;
	background-color: beige;
}

tr:hover th {
	color: #747239;

}

a.active {
	text-decoration: underline;
}

dl {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0.2em 0em;
}

dt:after {
	content: ':';
}

dt {
	font-weight: bold;
	background-color: #EFF1F3;
	padding: 0.6em;
}

dd {
	margin-left: 0;
	padding: 0.6em;
}


@media (prefers-color-scheme: dark) {
	tr:hover th {
		color: #c5c166;
	}

	tr:hover td {
		color: black;
		background-color: #c5c166;
	}

}
