@import 'femtocrank/style.css';
@import 'femtocrank/dark.css' screen and (prefers-color-scheme: dark);

section.small {
	margin: auto;
	max-width: 720px;
}

section.small {
	margin-bottom: 2em;
}

section > p:last-child {
	margin-bottom: 0;
}

footer span {
	margin-right: 1em;
}

table th:first-child {
	width: 25%;
}

th {
	text-align: left;
}

th.small {
	width: 10%;
}

tr:hover td {
	color: black;
	background-color: beige;
}

tr:hover th {
	color: #747239;

}

a.active {
	text-decoration: underline;
}

dl {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0;
}

dt:after {
	content: ':';
}

dt {
	font-weight: bold;
	border-right: 1px solid #666;
	text-align: right;
	padding: 0.6em;
}

dd {
	margin-left: 0;
	padding: 0.6em;
}

a.button {
	color: #000;
}

a svg, button svg, h2 svg {
	vertical-align: bottom;
}

ul {
	list-style: '\25b9    ';
	list-style-position: outside;
	padding-left: 1.4em;
}

@media (prefers-color-scheme: dark) {
	tr:hover th {
		color: #c5c166;
	}

	tr:hover td {
		color: white;
		background-color: #1d345c;
	}

	a.button {
		color: #fff;
	}
}
