<!DOCTYPE html>

<head>
	<link rel = "stylesheet" href = "style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Homepage</title>
</head>
<body class = "links-homepage">
	{{ $bookmarks := datasource "bookmarks" }}

	<header>
	<h1>{{ $bookmarks.title }}</h1>
	</header>

	<main class = "grid">
	{{ range $linkBlock := $bookmarks.bookmarks }}
		{{ range $title, $linkTop := $linkBlock }}
		<div class = "linklist">

		<h2>{{ $title }}</h2>

			{{ range $keys := $linkTop }}
				{{ range $link, $keys2 := $keys }}

				{{ $keys3 := index $keys2 0 }}
				<a href = "{{ $keys3.href }}">{{ $link }}</a>
				{{ end }}
			{{ end }}
		</div>
		{{ end }}

	{{ end }}
	</main>
</body>
