<!DOCTYPE html>

<head>
	<link rel = "stylesheet" href = "style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ .title }}</title>

	{{ .hooks.head }}
</head>
<body class = "links-homepage">
	<header>
	<h1>{{ .links.title }}</h1>
	</header>

	<main class = "grid">
	{{ range .links.categories }}
		<div class = "linklist">

		<h2>{{ .title }}</h2>

			{{ range .links }}
				<a href = "{{ .url }}">{{ .title }}</a>
			{{ end }}
		</div>
	{{ end }}
	</main>
</body>
