html {
	height: 100%;
}

body {
  background-color: #dee3e7;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: small;
}

a, a:visited {
  color: black;
  margin-bottom: 1em;
  display: block;
}

a {
	text-decoration: none;
	display: flex;
	align-items: center;
}

a:hover {
	background-color: #efefef;
}

img {
	width: 2em;
}

.grid {
  display: grid;
  row-gap: 1em;
  column-gap: 4em;
  padding: 5em;
  padding-top: 1em;
  grid-template-rows: repeat(auto-fill, minmax(3m, 1fr));
  grid-template-columns: repeat(auto-fit, 20em);
  place-content: center;
}

body.links-homepage a {
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 0 0 1em #ccc;
  display: flex;
  align-items: center;
  gap: 0.75em;
}

body.links-homepage a .favicon {
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  object-fit: contain;
}

body.links-homepage a:hover {
  background-color: #efefef;
}

body.links-homepage a:focus {
  background-color: #efefef;
  font-weight: bold;
}

body.links-homepage footer {
  text-align: center;
  padding: 2em 1em;
  margin-top: 2em;
}

body.links-homepage footer p {
  color: #888;
  font-size: 0.85em;
  opacity: 0.7;
  margin: 0;
}

div.linklist {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #2c3e50;
  margin: 1em 0 0.5em 0;
  letter-spacing: -0.02em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.links-homepage header {
  margin-bottom: 2em;
}

h2 {
  font-size: 0.9em;
  text-align: center;
  color: #34495e;
  font-weight: 500;
  margin: 1.5em 0 1em 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a.open {
	font-weight: bold;
	background-color: #efefef;
}

a.selected {
	background-color: #c4cdd4;
}

button {
	padding: 1em;
	font-weight: bold;
	margin: .6em;
}
