<!DOCTYPE html>
<head>
	<title>SuperSimpleStaticSidebar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />


<style type = "text/css">

html, body {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: max-content auto;
	font-size: small;
}

body div {
	display: flex;
}

iframe {
	border: 0;
	width: 100%;
}

iframe[name="sidebar"] {
	border-right: 1px solid black;
	width: 4em;
	transition: width .3s;
}

iframe[name="sidebar"]:hover {
	width: 10em;
}

</style>
</head>
<body>
	<div>
		<iframe name = "sidebar" src = "sidebar.output.html"></iframe>
	</div>

	<div>
		<iframe name = "body" src = "about:blank"></iframe>
	</div>
</body>
